
body {
    
    font-family: "Inter", sans-serif;
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}

header{
    padding: 15px;
    background-color: white; /* Light gray background for header */
    margin-bottom: 10px;
}

p{
    text-align: left;
}

button{
    display: inline-block;
    width:150px;
    background-color: #969FE2;
    margin: 2px;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    border-color: transparent;
    cursor: pointer;
}

textarea{
    display:block;
    width:500px;
    height:200px;
    padding-top: 0px;
    margin:auto auto;
}

main{
    display: grid;
    grid-template-columns: repeat(3 ifr);
    padding: 20px;
    background-color: #ebaccb;
}



.feet{
    text-align: left;
    padding-left: 20px;
    background-color: rgb(220, 219, 219);
}

h1{
    text-align: center;
}


